<a href='/posts'>Back</a><br>
<li>
    
    <%= @users.find(@post.user_id).username %>
    <% if @users.find(@post.user_id).username == current_user.username %>
    <%= button_to "delete post button placeholder", logout_path, method: :delete %>
    <% end %>
    <br>
    <%= @post.content %>
</li>